---
import Carrusel3D from "./Carrusel3d.astro";
import ObrasCarretera from "./ObrasCarretera.astro";
import ObrasEdificacion from "./ObrasEdificacion.astro";
import ObrasAlcantarillado from "./ObrasAlcantarillado.astro";
import EnsayoLaboratorio from "./EnsayoLaboratorio.astro";
import SolucionesIEquiposP from "./SolucionesIEquiposP.astro";
import Carrusel from "./Carrusel.astro";
---

<section class="servicio-section">
    <div class="servicio-header">
        <h2 class="servicio-title">Nuestros Servicios</h2>
        <p class="servicio-description-t">
            En JAIL CONSTRUCTORA S.A.C, ofrecemos una amplia gama de servicios
            para satisfacer las necesidades de nuestros clientes. Nos
            especializamos en la construcción de obras de infraestructura, así
            como en el mantenimiento y reparación de equipos pesados. Nuestro
            equipo de profesionales altamente capacitados está comprometido en
            brindar soluciones integrales y de calidad en cada uno de nuestros
            proyectos.
        </p>
    </div>
    <section class="servicio-content">
        <article class="servicio-container-contratistas">
            <div class="contratista-container">
                <div class="contratista-btn-title">
                    <p>Contratista</p>
                </div>
                <h2 class="servicio-contratista-title">
                    Contratistas de Obras Civiles
                </h2>
                <p class="servicio-description">
                    En <strong>JAIL CONSTRUCTORA S.A.C</strong>, contamos con un
                    equipo de contratistas altamente calificados en cada área de
                    ejecución, garantizando precisión técnica, cumplimiento de
                    normativas y estándares de calidad en todos nuestros
                    proyectos. Nuestros profesionales trabajan bajo un modelo
                    integrado que combina experiencia en campo con innovación
                    tecnológica.
                </p>
            </div>

            <div class="servicios">
                <div class="obras"><ObrasEdificacion /></div>
                <div class="obras"><ObrasCarretera /></div>
                <div class="obras"><ObrasAlcantarillado /></div>
                <div class="obras"><EnsayoLaboratorio /></div>
                <div class="obras"><SolucionesIEquiposP /></div>
            </div>
        </article>
        <div class="carrusel">
            <Carrusel/>
        </div>
    </section>
</section>
<style>
    .servicio-header {
        position: relative;
        background-image: url("../assets/banner-servicios.webp");
        background-size: cover;
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 60px;
        box-sizing: border-box;
        color: white;
        z-index: 0;
        gap: 20px;
    }
    .servicio-header::before {
        content: "";
        position: absolute;
        inset: 0; /* top: 0; left: 0; right: 0; bottom: 0 */
        background: rgba(0, 0, 0, 0.5); /* Opacidad del overlay */
        z-index: -1;
    }

    .servicio-title {
        margin: 0;
        font-size: 60px;
        text-shadow: 1px 1px 2px #000;
    }
    .servicio-description-t {
        margin: 0;
        font-size: 1rem;
        font-family: "Noto Sans", sans-serif;
    }
    .servicio-description {
        margin: 0;
        font-family: "Noto Sans", sans-serif;
    }

    .servicio-contratista-title {
        margin: 0 0 20px 0;
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    .servicio-container-contratistas {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .contratista-btn-title {
        display: flex;
        justify-content: center;
    }
    .contratista-btn-title p {
        font-size: 30px;
        font-weight: bold;
        background-color: rgb(33, 47, 77);
        padding: 10px;
        border-radius: 20px 0px;
        color: white;
    }
    .contratista-container {
        position: sticky;
        top: 0;
        height: 40vh;
        padding: 0 60px;
        background-color: white;
    }
    .obras {
        position: sticky;
        top: 40vh;
        height: 60vh;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        
    }

    .carrusel{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #1e293b;
        margin-top: 5rem;  
    }

    /**OBRAS DE CARRETERAS */

    /**OBRAS DE AGUA POTABLE Y ALCANTARILLADO */
    /**LABORATORIO DE ENSAYOS */
    /**SOLUCIONES INTEGRALES PARA EQUIPOS PESADOS */
</style>
